<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"> What is your Question Question </div>

    <form class="ui form" action="/quora" method="POST">
  <div class="field">
    <label>Question</label>
    <input type="text" name="na" placeholder="Question">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>

</div>



<% include ./partials/footer %>